
@import "oj/utilities/_oj.utilities.modules.scss";

// This file is where css selectors shared by all themes go.
// There will be hard code properties and properties controlled by variables, for example
//
// component-vdom .component-vdom-value-text {
// color: var(--component-vdom-value-text-color);
// display: inline-block;
// }

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("component-vdom.base") {
  component-vdom:not(.oj-complete){
    visibility: hidden;
  }
  
  component-vdom{
  	min-height: 50px;
  	width: 50px;
  }
}